*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(194,242,225);
background: linear-gradient(90deg, rgba(194,242,225,0.8407738095238095) 0%, rgba(220,163,238,0.6699054621848739) 49%, rgba(247,102,168,0.31976540616246496) 100%);
	height: 100vh;
}


/* Section Menu*/

.btn-rond-menu {
    width: 130px;
    height: 130px;
    position: fixed;
    background: rgba(233, 135, 156, 0.623);
    border-radius: 50%;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.line-unique {
    width: 60%;
    height: 8px;
    border-radius: 5px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-unique::before {
    content: '';
    position: absolute;
    bottom: 15px;
    background: #f1f1f1;
    width: 100%;
    height: 8px;
    border-radius: 5px;
}

.line-unique::after {
    content: '';
    position: absolute;
    top: 15px;
    background: #f1f1f1;
    width: 100%;
    height: 8px;
    border-radius: 5px;
}

.cont-ligne.active .line-unique::after{
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
}

.cont-ligne.active .line-unique {
    background: transparent;
}

.cont-ligne.active .line-unique::before{
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms ease, transform 300ms 300ms ease;
}

/* Section Accueil */

.accueil {
    width: 80%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 300px;
    padding-left: 300px;
}
.pdp {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: 300px;
}
.text-animation {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 60px;
    letter-spacing: 1px;
    padding-top: 50px;
}

/*--------Navigation--------*/

.nav-gauche {
    width: 1300px;
    height: 1300px;
    min-height: 500px;
    background: rgb(233, 135, 156);
    border-radius: 50%;
    position: fixed;
    left: -1300px!important;
    top: -650px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.menu-visible {
    left: -650px!important;
}
.blocs-menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 200px;
}
.blocs-menu span {
    font-size: 35px;
    text-align: center;
    position: relative;
    font-weight: 700;
    cursor: pointer;
}
.blocs-menu span a {
    text-decoration: none;
    color: #fff9f9;
}
.empty {
    height: 600px;
}
.cont-bloc {
    height: 800px;
    position: absolute;
    left: 780px;
    top: 750px;
}
.btn-rond {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(233, 22, 152);
    background: rgba(228, 117, 243, 0.383);
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(241, 144, 236, 0.01);
    }
}

.logo-btn-rond-acc {
    width: 35px;
}

/* 1200px 900px 400px*/

/* Medias queries accueil*/
@media screen and (max-width: 1200px) {
    .pdp {
        margin-left: 100px;
    }
    .nav-gauche{
    width: 1000px;
    height: 1000px;
    min-height: 500px;
    background: rgb(233, 135, 156);
    border-radius: 50%;
    position: fixed;
    left: -1000px!important;
    top: -500px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    }
    .cont-bloc {
        height: 600px;
        position: absolute;
        left: 590px;
        top: 590px;
    }
    .menu-visible {
        left: -500px!important;
    }
}

@media screen and (max-width: 1000px) {
    
    .accueil{
        flex-direction: column;
        padding-top: 100px;
    }
    .pdp{
        margin-top: 50px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 800px) {
    
    .accueil{
        width: 100%;
        left: -100px;
        padding-top: 0px;
    }
    .text-animation {
        font-size: 45px;
    }
    .pdp {
        width: 300px;
        height: 300px;
    }
    .btn-rond-menu {
        width: 100px;
        height: 100px;
    }
    .btn-rond {
        left: 120px;
        width: 60px;
        height: 60px;
    }
    .logo-btn-rond-acc {
        width: 25px;
    }
}
@media screen and (max-width: 550px) {
    
    .accueil{
        left: -200px;
        top: 50px;
    }
    .pdp{
        margin-top: 0px;
        margin-left: 0px;
    }
    .btn-rond {
        left: 220px;
        bottom: 40px;
        width: 55px;
        height: 55px;
    }
    .nav-gauche{
        width: 800px;
        height: 800px;
        min-height: 500px;
        background: rgb(233, 135, 156);
        border-radius: 50%;
        position: fixed;
        left: -800px!important;
        top: -400px;
        z-index: 1;
        transition: all 0.2s ease-in-out;
        }
    .cont-bloc {
        height: 250px;
        position: absolute;
        left: 480px;
        top: 460px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .menu-visible {
        left: -400px!important;
    }
    .cont-bloc span {
        font-size: 25px;
    } 
    .btn-rond-menu {
        width: 80px;
        height: 80px;
    }
}
@media screen and (max-width: 480px) {
    .text-animation {
        font-size: 35px;
    }
    .accueil{
        top: -20px;
    }
    .pdp {
        margin-top: 30px;
        margin-left: -40px;
    }
    .nav-gauche{
        width: 700px;
        height: 700px;
        min-height: 500px;
        background: rgb(233, 135, 156);
        border-radius: 50%;
        position: fixed;
        left: -700px!important;
        top: -350px;
        z-index: 1;
        transition: all 0.2s ease-in-out;
        }
    .cont-bloc {
        height: 250px;
        position: absolute;
        left: 410px;
        top: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .menu-visible {
        left: -350px!important;
    }
    .cont-bloc span {
        font-size: 25px;
    } 
    .btn-rond {
        bottom: 0px;
    }
}

@media screen and (max-width: 360px){
    .nav-gauche{
        width: 450px;
        height: 400px;
        min-height: 490px;
        background: rgb(233, 135, 156);
        border-radius: 50%;
        position: fixed;
        left: -450px!important;
        top: -200px;
        z-index: 1;
        transition: all 0.2s ease-in-out;
        }
    .cont-bloc {
        height: 250px;
        position: absolute;
        left: 260px;
        top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .menu-visible {
        left: -225px!important;
    }
    .cont-bloc span {
        font-size: 20px;
    } 
    .btn-rond-menu {
        width: 60px;
        height: 60px;
        top: 2px;
        left: 2px;
    }
    .accueil{
        top: -50px;
        left: -280px;
    }
    .pdp {
        margin-top: 20px;
        margin-left: -10px;
        width: 250px;
        height: 250px;
    }
    .btn-rond {
        bottom: -20px;
        left: 280px;
    }
}

/* Section a prpos */

.propos{
    width: 100%;
    height: 1000px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.cont-propos{
    width: 80%;
    height: 80%;
    min-height: 50%;
    background: #efabf3;
    border-radius: 5px 200px;
    align-self:center ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.description{
    width: 90%;
    font-size: 25px;
    align-self:center ;
    margin-top: 30px;
}
.cont-exp-travail {
    position: relative;
    display: flex;
    justify-content: center;
}

.barre-verticale {
    height: 300px;
    width: 5px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -30px;
}

.boule-ico {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #333;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boule-ico img {
    width: 50px;
    border-radius: 30px;
}

.flex-cont-bloc-exp {
    width: 800px;
    flex-shrink: 1;
    position: relative;
}

.bloc {
    width: 100%;
    height: 200px;
    margin-bottom: 37.5px;
    cursor: pointer;
    border: 1px solid rgb(148, 140, 140);
    position: relative;
}

.contenu-bloc {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(56, 54, 54);
    background: rgb(246, 236, 236);
    transition: transform 0.25 ease-in-out;
    position: relative;
    transform: translate(10px, -10px);
}

.contenu-bloc:hover {
    transform: translate(0,0)
}

.bloc1 {
    background:  rgba(153, 243, 239, 0.904);
}

.bloc2 {
    background:  rgba(236, 245, 116, 0.904);
}
.titre-section-bloc {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
}
.txt-section {
    font-size: 20px;
}

/* media queries  */

@media screen and (max-width: 1420px) {
    .description{
        font-size: 22px;
    }
}

@media screen and (max-width: 1220px) {
    .propos{
        height: 1300px;
    }
    .barre-verticale {
        height: 400px;
        
    }
    .bloc {
        width: 70%;
        height: 300px;
    }
    .cont-exp-travail{
        margin-left: 150px;
    }
}

@media screen and (max-width: 900px){
    .propos {
        height: 1500px;
    }
}
@media screen and (max-width: 750px){
    .propos {
        height: 1800px;
    }
    .cont-propos {
        width: 100%;
    }
    .barre-verticale {
        height: 600px;
        
    }
    .bloc {
        width: 70%;
        height: 400px;
    }
    .description{
        font-size: 20px;
    }
}
@media screen and (max-width: 570px){
    .cont-exp-travail{
        margin-left: 70px;
    }
    .bloc {
        width: 80%;
    }
}
@media screen and (max-width: 420px){
    .cont-propos {
        height: 1700px;
        border-radius: 5px 100px;
    }
    .bloc {
        height: 500px;
    }
}
@media screen and (max-width: 340px){
    .cont-propos {
        height: 2200px;
        border-radius: 5px 80px;
    }
    .bloc {
        height: 700px;
    }
    
}

/* Portfolio */

.portfolio {
    margin-top: 200px;
    width: 100%;
}

.titre-port {
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
    color: rgb(31, 32, 32);
}
.focus {
    width: 200px!important;
    height: 70px!important;
    position: relative;
    bottom: -10px;
}
.cont-portfolio {
    width: 100%;
    height: auto;
    margin: 0 auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 20px;
    width: 500px;
    height: 400px;
    background: #f0f2f0;
    color: #333;
    transition: transform 0.3s ease-out;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}

.item:hover {
    transform: translateY(-5px);
}

.cont-img-port {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.cont-img-port img {
    width: 100%;
    height: auto;
}

.item h3 {
    padding: 10px 10px 0;
    font-size: 22px;
}

.item p {
    padding: 10px 10px 0;
}

.btn-projets {
    display: block;
    margin: 10px;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn-projets::after {
    content: '';
    height: 240px;
    width: 100px;
    background: rgba(255, 255, 255, 0.4);
    display: block;
    position: absolute;
    left: -150px;
    top: -50px;
    transform: rotate(-45deg);
}

.btn-projets:hover::after {
    transition: transform 0.3s 0.1s linear;
    transform: translateX(400px);
}

/* -----------Media Portfolio------------ */

@media  screen and (max-width: 1300px) {
    
    .titre-port {
        font-size: 40px;
        margin: 50px 0 70px;
        padding-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .titre-port {
        margin: 10px 0;
        padding: 30px 0;
    }
    .item {
        height: 420px;
    }
    .cont-img-port {
        height: auto;
    }
}

@media screen and (max-width: 340px) {
    .item {
        height: 380px;
    }
}

/* Compétences */

.competence {
    margin-top: 200px;
    width: 100%;
}
.typing {
        width: 350px!important;
        height: 120px!important;
        position: relative;
        bottom: -50px;
    
}
.svg{
    width: 200px;
    height: 200px;
    margin-right: 90px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.svg1{
    width: 400px;
    height: 400px;
    margin-right: 50px;
}
.title {
    font-size: 30px;
    margin-left:50px;
}
#php {
    position: relative;
    bottom: -80px;
}
/* media queries */

@media screen and (max-width: 920px) {
    .svg{
        width: 200px;
        height: 200px;
        margin-right: 0px;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .svg1{
        width: 300px;
        height: 300px;
        margin-right: 0px;
    }
}