*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(194,242,225);
background: linear-gradient(90deg, rgba(194,242,225,0.8407738095238095) 0%, rgba(220,163,238,0.6699054621848739) 49%, rgba(247,102,168,0.31976540616246496) 100%);
	height: 100vh;
}


/* Section Menu*/

.btn-rond-menu {
    width: 80px;
    height: 80px;
    position: fixed;
    background: #e9879c9f;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.line-unique {
    width: 60%;
    height: 8px;
    border-radius: 5px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-unique::before {
    content: '';
    position: absolute;
    bottom: 15px;
    background: #f1f1f1;
    width: 100%;
    height: 8px;
    border-radius: 5px;
}

.line-unique::after {
    content: '';
    position: absolute;
    top: 15px;
    background: #f1f1f1;
    width: 100%;
    height: 8px;
    border-radius: 5px;
}

.cont-ligne.active .line-unique::after{
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
}

.cont-ligne.active .line-unique {
    background: transparent;
}

.cont-ligne.active .line-unique::before{
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms ease, transform 300ms 300ms ease;
}

/* Section Accueil */

.accueil {
    width: 90%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top:80px;
    padding-left: 200px;
}
.pdp {
    width: 250px;
    height: 300px;
    border-radius: 50%;
    margin-left: 200px;
    margin-top: 100px;
    
}
.text-animation {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    padding-top: 100px;
    width: 400px;
}

/*--------Navigation--------*/

.nav-gauche {
    width: 800px;
    height: 800px;
    min-height: 500px;
    background: #e9879c;
    border-radius: 50%;
    position: fixed;
    left: -800px!important;
    top: -400px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.menu-visible {
    left: -400px!important;
}
.blocs-menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 200px;
}
.blocs-menu span {
    font-size: 22px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.blocs-menu span a {
    text-decoration: none;
    color: #fff9f9;
}
.empty {
    height: 600px;
}
.cont-bloc {
    height: 600px;
    position: absolute;
    left: 500px;
    top: 420px;
}
.btn-rond {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(233, 22, 152);
    background: rgba(228, 117, 243, 0.383);
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(241, 144, 236, 0.01);
    }
}

.logo-btn-rond-acc {
    width: 35px;
}

/* 1200px 900px 400px*/

/* Medias queries accueil*/

@media screen and (min-width: 1400px){
    .accueil{
        padding-top: 150px;
        width: 100%;
        padding-left: 0px;
    }
    .text-animation {
        font-size: 50px;
        letter-spacing: 1px;
        padding-top: 200px;
        width: 500px;
    }
    .pdp {
        width: 300px;
        height: 350px;
        border-radius: 50%;
        margin-top: 200px;
    }
    .nav-gauche{
        width: 1000px;
        height: 1000px;
        min-height: 500px;
        left: -1000px!important;
        top: -500px;
        }
        .cont-bloc {
            height: 700px;
            position: absolute;
            left: 600px;
            top:550px;
        }
        .menu-visible {
            left: -500px!important;
        }
        .blocs-menu span {
            font-size: 27px;
        }
}

@media screen and (min-width: 1800px){
    .btn-rond-menu {
        width: 120px;
        height: 120px;
        top: 20px;
        left: 20px;
    }
   .line-unique {
        width: 60%;
        height: 10px;}
    .line-unique::before {
           bottom: 20px;
           height: 10px;
        }
    .line-unique::after {
            top: 20px;
            height: 10px;
         }
    .btn-rond {
        width: 80px;
        height: 80px;}
    
    .text-animation {
        font-size: 70px;
        letter-spacing: 1px;
        padding-top: 100px;
        width: 700px;
    }
    .pdp {
        width:400px;
        height: 400px;
        border-radius: 50%;
        margin-top: 150px;
    }
    .nav-gauche{
        width: 1400px;
        height: 1400px;
        left: -1400px!important;
        top: -700px;
        }
        .cont-bloc {
            height: 900px;
            position: absolute;
            left: 900px;
            top:750px;
        }
        .menu-visible {
            left: -700px!important;
        }
        .blocs-menu span {
            font-size: 35px;
        }
        .description{
            font-size: 35px;
        }
}

@media screen and (min-height: 1300px){
   .text-animation{
       margin-top: 300px;
   }
   .pdp{
       margin-top: 450px;
   }
}

@media screen and (min-height: 1700px){
    .text-animation{
        margin-top: 400px;
        font-size: 90px;
    }
    .pdp{
        margin-top: 600px;
        width: 550px;
        height: 500px;
    }
    .btn-rond-menu {
        width: 180px;
        height: 180px;
        top: 40px;
        left:40px;
    }
   .line-unique {
        width: 60%;
        height: 15px;}
    .line-unique::before {
           bottom: 30px;
           height: 15px;
        }
    .line-unique::after {
            top: 30px;
            height: 15px;
         }
    .btn-rond {
        width: 100px;
        height: 100px;}
    .nav-gauche{
            width: 1800px;
            height: 1800px;
            left: -1800px!important;
            top: -900px;
            }
    .cont-bloc {
                height: 1300px;
                position: absolute;
                left: 1200px;
                top:950px;
            }
            .menu-visible {
                left: -900px!important;
            }
            .blocs-menu span {
                font-size: 45px;
            }
 }

@media screen and (max-width: 1200px) {
    .pdp {
        margin-left: 100px;
    }
    .nav-gauche{
    width: 800px;
    height: 800px;
    min-height: 500px;
    background: rgb(233, 135, 156);
    border-radius: 50%;
    position: fixed;
    left: -800px!important;
    top: -400px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    }
    .cont-bloc {
        height: 500px;
        position: absolute;
        left: 480px;
        top: 450px;
    }
    .menu-visible {
        left: -400px!important;
    }
}

@media screen and (max-width: 1000px) {
    
    .accueil{
        padding-left: 50px;
    }
}
@media screen and (max-width: 900px) {
    
    .accueil{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text-animation {
        font-size: 30px;
        padding-top: 20px;
        font-size: 40px;
    }
    .pdp {
        width: 220px;
        height: 250px;
        margin-top: 40px;
        margin-left: 20px;
    }
    .btn-rond-menu {
        width: 100px;
        height: 100px;
    }
    .btn-rond {
        left: 20px;
        bottom: 20px;
        width: 60px;
        height: 60px;
    }
    .logo-btn-rond-acc {
        width: 25px;
    }
}
@media screen and (max-width: 550px) {
    
    .btn-rond {
        display: none;
    }
    .nav-gauche{
        width: 600px;
        height: 600px;
        min-height: 500px;
        background: rgb(233, 135, 156);
        border-radius: 50%;
        position: fixed;
        left: -600px!important;
        top: -300px;
        z-index: 1;
        transition: all 0.2s ease-in-out;
        }
    .cont-bloc {
        height: 200px;
        position: absolute;
        left: 360px;
        top: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .menu-visible {
        left: -300px!important;
    }
    .cont-bloc span {
        font-size: 20px;
    } 
    .btn-rond-menu {
        width: 80px;
        height: 80px;
    }
}
@media screen and (max-width: 480px) {
    .text-animation {
        font-size: 25px;
        width: 200px;
    }
    .pdp{
        width: 180px;
        height: 200px;
        margin-left: 0px;
        margin-right: 30px;
    }
    .btn-rond-menu {
        width: 60px;
        height: 60px;
    }
    .line-unique {
        width: 50%;
        height: 5px;}
    .line-unique::before {
            bottom: 10px;
            height: 5px;
         }
     .line-unique::after {
             top: 10px;
             height: 5px;
          }
    .nav-gauche{
        width: 500px;
        height: 500px;
        min-height: 500px;
        background: rgb(233, 135, 156);
        border-radius: 50%;
        position: fixed;
        left: -500px!important;
        top: -250px;
        z-index: 1;
        transition: all 0.2s ease-in-out;
        }
    .cont-bloc {
        height: 200px;
        position: absolute;
        left: 300px;
        top: 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .menu-visible {
        left: -250px!important;
    }
    .cont-bloc span {
        font-size: 15px;
    }
    .accueil{
        padding-top: 0px;
    }
}

@media screen and (max-width: 350px) {
    
    .nav-gauche{
        width: 400px;
        height: 400px;
        min-height: 400px;
        background: rgb(233, 135, 156);
        border-radius: 50%;
        position: fixed;
        left: -400px!important;
        top: -200px;
        z-index: 1;
        transition: all 0.2s ease-in-out;
        }
    .cont-bloc {
        height: 130px;
        position: absolute;
        left: 260px;
        top: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .menu-visible {
        left: -200px!important;
    }
    .cont-bloc span {
        font-size: 12px;
    }
}

/* Section a prpos */

.propos{
    width: 100%;
    height: 1000px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.cont-propos{
    width: 80%;
    height: 1000px;
    min-height: 50%;
    background: #efabf3;
    border-radius: 5px 200px;
    align-self:center ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.description{
    width: 90%;
    font-size: 25px;
    align-self:center ;
    margin-top: 30px;
}
.cont-exp-travail {
    position: relative;
    display: flex;
    justify-content: center;
}

.barre-verticale {
    height: 400px;
    width: 5px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -30px;
}

.boule-ico {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #333;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boule-ico img {
    width: 50px;
    border-radius: 30px;
}

.flex-cont-bloc-exp {
    width: 800px;
    flex-shrink: 1;
    position: relative;
}

.bloc {
    width: 100%;
    height: 250px;
    margin-bottom: 37.5px;
    cursor: pointer;
    border: 1px solid rgb(148, 140, 140);
    position: relative;
}

.contenu-bloc {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(56, 54, 54);
    background: rgb(246, 236, 236);
    transition: transform 0.25 ease-in-out;
    position: relative;
    transform: translate(10px, -10px);
}

.contenu-bloc:hover {
    transform: translate(0,0)
}

.bloc1 {
    background:  rgba(153, 243, 239, 0.904);
}

.bloc2 {
    background:  rgba(236, 245, 116, 0.904);
}
.titre-section-bloc {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
}
.txt-section {
    font-size: 20px;
}

/* media queries  */

@media screen and (max-width: 1420px) {
    .description{
        font-size: 22px;
    }
}

@media screen and (max-width: 1220px) {
    .barre-verticale {
        height: 500px;
        
    }
    .bloc {
        width: 80%;
        height: 350px;
    }
    .cont-exp-travail{
        margin-left: 150px;
    }
    .propos{
        height: 1220px;
    }
    .cont-propos {
        height: 1200px;
    }
}

@media screen and (max-width: 1000px){
    .propos {
        height: 1500px;
    }
    .barre-verticale {
        height: 500px;
        
    }
    .bloc {
        width: 80%;
        height: 400px;
    }
    .cont-propos {
        height: 1400px;
    }
}

@media screen and (max-width: 900px){
    .propos {
        height: 1500px;
    }
    .barre-verticale {
        height: 620px;
        
    }
    .bloc {
        width: 85%;
        height: 450px;
    }
    .cont-propos {
        height: 1500px;
    }
}
@media screen and (max-width: 830px){
    .propos {
        height: 1800px;
    }
    .cont-propos {
        height: 1600px;
    }
    .barre-verticale {
        height: 720px;
        
    }
    .bloc {
        width: 80%;
        height: 450px;
    }
    .description{
        font-size: 20px;
    }
    #b13{
        height: 550px;
    }
}
@media screen and (max-width: 781px){
    .propos {
        height: 1800px;
    }
    .cont-propos {
        height: 1800px;
    }
    .barre-verticale {
        height: 720px;
        
    }
    .bloc {
        width: 80%;
        height: 550px;
    }
    .description{
        font-size: 20px;
    }
    #b13{
        height: 600px;
    }
}

@media screen and (max-width: 705px){
    .propos {
        height: 1800px;
    }
    .cont-propos {
        height: 1600px;
    }
    .barre-verticale {
        height: 800px;
        
    }
    .bloc {
        width: 80%;
        height: 450px;
    }
    .description{
        font-size: 18px;
    }
    #b13{
        height: 550px;
    }
    .txt-section{
        font-size: 18px;
    }
}

@media screen and (max-width: 670px){
    .cont-exp-travail{
        margin-left: 70px;
    }
    .bloc {
        width: 80%;
    }
    .propos{
        height: 1700px;
    }
}
@media screen and (max-width: 560px){
    
    .cont-propos {
        height: 2000px;
    }
    .propos{
        height: 2000px;
    }
    .bloc {
        width: 80%;
        height: 600px;
    }
    
    #b13{
        height: 700px;
    }
    
}
@media screen and (max-width: 490px){
    .propos{
        height: 2000px;
    }
    .cont-propos {
        height: 2050px;
        border-radius: 5px 100px;
    }
    .bloc {
        height: 620px;
    }
    #b13{
        height: 820px;
    }
    .barre-verticale{
        height: 1000px;
    }
}
@media screen and (max-width: 460px){
    .cont-propos {
        height: 2300px;
        border-radius: 5px 80px;
    }
    .bloc {
        height: 700px;
    }
    #b13{
        height: 880px;
    }
    .propos{
        height: 2250px;
    }
}
@media screen and (max-width: 430px){
    .cont-propos {
        height: 2200px;
        border-radius: 5px 80px;
    }
    .bloc {
        height: 630px;
        width: 90%;
    }
    #b13{
        height: 800px;
    }
    .propos{
        height: 2200px;
    }
    .barre-verticale{
        display: none;
    }
    .cont-exp-travail {
    margin-left: 35px;
    }
}
@media screen and (max-width: 380px){
    .cont-propos {
        height: 2400px;
        border-radius: 5px 80px;
    }
    .bloc {
        height: 700px;
        width: 90%;
    }
    #b13{
        height: 820px;
    }
    .propos{
        height: 2500px;
    }
    .barre-verticale{
        display: none;
    }
    .cont-exp-travail {
    margin-left: 25px;
    }
}
@media screen and (max-width: 355px){
    .cont-propos {
        height: 2500px;
    }
    #b13{
        height: 900px;
    }
}
@media screen and (max-width: 340px){
    .cont-propos {
        height: 2900px;
    }
    #b13{
        height: 1000px;
    }
    .bloc{
        height: 900px;
    }
    .propos{
        height: 2800px;
    }
}
@media screen and (max-width: 300px){
    .cont-propos {
        height: 2800px;
    }
    #b13{
        height: 1100px;
    }
    .bloc{
        height: 920px;
    }
    .propos{
        height: 2800px;
    }
}
/* Portfolio */

.portfolio {
    margin-top: 200px;
    width: 100%;
}

.titre-port {
    text-align: center;
    font-size: 50px;
    color: rgb(31, 32, 32);
}
.focus {
    width: 200px!important;
    height: 70px!important;
    position: relative;
    bottom: -10px;
}
.cont-portfolio {
    width: 100%;
    height: auto;
    margin: 0 auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 20px;
    width: 350px;
    height: 400px;
    background: #f0f2f0;
    color: #333;
    transition: transform 0.3s ease-out;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}

.item:hover {
    transform: translateY(-5px);
}

.cont-img-port {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.cont-img-port img {
    width: 100%;
    height: auto;
}

.item h3 {
    padding: 10px 10px 0;
    font-size: 22px;
}

.item p {
    padding: 10px 10px 0;
}

.btn-projets {
    display: block;
    margin: 10px;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn-projets::after {
    content: '';
    height: 240px;
    width: 100px;
    background: rgba(255, 255, 255, 0.4);
    display: block;
    position: absolute;
    left: -150px;
    top: -50px;
    transform: rotate(-45deg);
}

.btn-projets:hover::after {
    transition: transform 0.3s 0.1s linear;
    transform: translateX(400px);
}

/* -----------Media Portfolio------------ */

@media  screen and (max-width: 1300px) {
    
    .titre-port {
        font-size: 40px;
        margin: 50px 0 70px;
        padding-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .titre-port {
        margin: 10px 0;
        padding: 30px 0;
    }
    .item {
        height: 420px;
    }
}

@media screen and (max-width: 350px) {
    .item{
        width: 90%;
        height: 450px;
    }
    .titre-port{
        font-size: 30px;
    }
}

/* Compétences */

.competence {
    width: 90%;
    margin: auto;
}
.typing {
        width: 150px!important;
        height: 100px!important;
        position: relative;
        bottom: -50px;
    
}
.titre-comp{
    text-align: center;
    font-size: 40px;
    color: rgb(31, 32, 32);
}

.comp{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    grid-gap: 20px;
    justify-content: center;
    margin-top: 100px;
}
.card{
    height: 150px;
    margin: auto;
}
.svg{
    width: 100px;
    height: 100px;
}

.svg1{
    width: 200px;
    height: 200px;
}
.title-comp{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
@media screen and (max-width: 1000px) {
    .titre-comp{
        font-size: 30px;
    }
    .typing{
        width: 100px!important;
        height: 100px!important;
    }
}
@media screen and (max-width: 450px) {
    .titre-comp{
        font-size: 20px;
    }
    .typing{
        width: 50px!important;
        height: 50px!important;
        bottom: -20px;
    }
    .card{
        height: 100px;
        margin: auto;
        margin-top: 10px;
    }
    .svg{
        width: 70px;
        height: 70px;
    }
    
    .title-comp{
        font-size: 15px;
        text-align: center;
    }
}


/* section mails */

.mail {
    width: 200px;
    height: 200px;
    position: relative;
    bottom: -90px
}
.contact {
    margin-top: 100px;
    width: 100%;
    height: 600px;
}
.titre-contact{
    position: relative;
    top:-100px;
    text-align: center;
    font-size: 40px;
    color: rgb(31, 32, 32);
}

.contact-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 140px);
    grid-gap: 20px;
    justify-content: center;
    
}
.contact-link{
    height: 100px;
    margin: auto;
}
.linkcontact{
    margin: auto;
}

@media screen and (max-width: 800px) {
    .titre-contact{
        font-size: 30px;

    }
    .mail{
        width: 150px;
        height: 150px;
        bottom: -60px;
    }
}

@media screen and (max-width: 520px){
    .mail{
        display: none;
    }
    .titre-contact{
        font-size: 25px;
        padding-top: 100px;
    }
    .contact-link{
        height: 80px;
        margin: auto;
    }
}

@media screen and (max-width: 440px){
    .titre-contact{
        font-size: 20px;
        padding-top: 100px;
    }
    .contact-link{
        height: 70px;
        margin: auto;
    }
    .contact-container{
        position: relative;
        top: -50px;
    }
}